<h1>Hello Kendo UI for Angular!</h1>

<p>
    <kendo-dropdownlist
        [data]="dropDownItems"
        textField="text"
        valueField="value"
        [defaultItem]="defaultItem"
        (valueChange)="handleFilterChange($event)"
		[style.width.px]="170"
    >
    </kendo-dropdownlist>
</p>

<kendo-grid
    [data]="(gridItems | async)!"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    [sortable]="true"
    [sort]="sortDescriptor"
    (sortChange)="handleSortChange($event)"
    [height]="400"
>
    <kendo-grid-column field="ProductID" title="ID" [width]="50"> </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Product Name"> </kendo-grid-column>
    <kendo-grid-column field="Category.CategoryName" title="Category"> </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Unit Price" [width]="140" format="{0:c}"> </kendo-grid-column>
    <kendo-grid-column field="Discontinued" [width]="140" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<h2>Resources</h2>

<ul>
    <li>
        <a href="https://www.telerik.com/kendo-angular-ui/components/getting-started/"
            >Kendo UI for Angular - Getting Started Documentation</a
        >
    </li>
    <li><a href="https://github.com/telerik/kendo-angular-quickstart-cli">GitHub repo for this app</a></li>
    <li><a href="https://www.telerik.com/kendo-angular-ui/components/">Kendo UI for Angular Components</a></li>
</ul>
